.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5 rem;
  /* margin-top: 20rem; */
}

.logo {
  display: flex;
  /* background-color: hsl(240, 57%, 44%); */
  /* display: flex; */
  /* justify-content: space-around; */
  align-items: center;
  color: peru;
  margin-block-end: 2rem;
}

img {
  width: 3vw;
  height: 3vh;
}

.formContainer {
  display: flex;
  /* flex: 1; */
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 600px;
  background-color: pink;
  gap: 0.5rem;
}

.inputRequired {
  display: flex;
  align-items: center;
  background-color: rgb(255, 129, 150);
  flex-flow: column;
  width: 75%;
  /* height: 5ch; */
}

label {
  width: 100%;
  max-width: 400px;
  text-align: start;
  margin: 1rem 0 1rem 0;
}

input {
  outline: none;
  border: none;
  background-color: inherit;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 75%;
  height: 40px;
  max-width: 400px;
}

.help {
  display: flex;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #7b8083;
  font-size: x-small;
  margin-left: 0;
}

button {
  /* display: flex; */
  margin-top: 1rem;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 100;
  font-family: inherit;
  background-color: #110f0f;
  cursor: pointer;
  width: 50%;
  transition: 0.5s ease-in-out;
}
button:hover {
  background-color: hsl(240, 57%, 44%);
  color: #ffffff;
  width: 75%;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
